*.iml
.gradle
/local.properties
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/github.properties
.idea/misc.xml
sample/programMap
signing.properties
